<link
  rel="stylesheet"
  href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
/>
<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"></script>

<section id="locations">
  <div class="container">
    <h2>Our Dispatch Locations</h2>
    <div id="locations-map"></div>
  </div>

  <div class="container">
    {% assign locs = site.locations.location_data %}
    {% assign n = locs | size %}
    <ul class="areas{% if n == 5 %} special-5{% endif %}">
      {% for loc in locs %}
        <li>
          <i class="fas fa-map-marker-alt"></i>{{ loc.name }}
        </li>
      {% endfor %}
    </ul>
  </div>
</section>