{% assign locations = site.locations.location_data %}

<section id="locations">
  <div class="container">
    <h2>Our Dispatch Locations</h2>
    <div id="locations-map"></div>
  </div>

  <div class="container">
    {% assign location_count = locations | size %}
    <ul class="areas{% if location_count == 5 %} special-5{% endif %}">
      {% for location in locations %}
        <li>
          <i class="fas fa-map-marker-alt"></i>{{ location.name }}
        </li>
      {% endfor %}
    </ul>
  </div>
</section>