<hero" id="home">
  <div class="container">
    <h1>{{ site.title }}</h1>
    <p>{{ site.hero.description }}</p>
    <a href="#quote" class="btn btn-accent">Get My Quote</a>
    
    <div class="hero-img-container">
      <!-- SVG positioned within the container -->
      <div class="hero-svg-wrapper">
        {% include_relative assets/images/hero-svg.svg %}
      </div>
      
      <div class="hero-img">
        <img src="assets/images/hero.webp" alt="Hero image">
      </div>
    </div>
  </div>
</hero>