<nav>

    <div class="logo">
      {% include_relative assets/images/logo.svg %}
    </div>

    <button class="mobile-menu-toggle" aria-label="Toggle menu">
      <i class="fa-solid fa-bars"></i>
    </button>

    <ul class="desktop-menu">
      {% for link in site.nav_links %}
        <li><a data-scroll-target="{{ link.title }}">{{ link.title }}</a></li>
      {% endfor %}
    </ul>

    <div class="actions">
      <a href="tel:{{ site.phone.ie64 | remove: ' ' }}">
        <i class="fas fa-phone"></i><span class="phone-text">{{ site.phone.display }}</span>
      </a>
      <button data-scroll-target="#quote" class="btn-accent shake-5s">Get My Quote</button>
    </div>

    <div class="mobile-menu">
      <ul>
        {% for link in site.nav_links %}
          <li><a href="{{ link.url }}">{{ link.title }}</a></li>
        {% endfor %}
      </ul>
      <button data-scroll-target="#quote" class="btn-accent shake-5s mobile-quote">Get My Quote</button>
    </div>

</nav>
