nav {
    z-index: 9999;
    position: sticky;
    top: 0;
    background: {{ site.theme.nav.color.bg | default: site.theme.default.color.bg }};
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.10);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}
nav ul {
    list-style: none;
}
nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: {{ site.theme.nav.font.weight.semibold | default: site.theme.default.font.weight.semibold }};
}
nav i {
    color: {{ site.theme.nav.color.icon | default: site.theme.default.color.icon }}
}
nav i:hover {
    color: {{ site.theme.nav.color.icon_hover | default: site.theme.default.color.icon_hover }}
}

@media (min-width: 961px){
    nav a,
    nav a:visited,
    nav a:focus,
    nav a:active {
        color: {{ site.theme.nav.color.link | default: site.theme.default.color.link }};
    }
    nav a:hover {
        color: {{ site.theme.nav.color.link_hover | default: site.theme.default.color.link_hover }};
    }

    nav .mobile-menu-toggle,
    nav .mobile-menu {
        display: none;
    }

    nav .desktop-menu {
        white-space: nowrap;
        display: flex;
        position: absolute;
        transform: translateX(-50%);
        left: 50%;
        margin: 0;
        padding: 0;
        gap: 2rem; 
    }

    nav .nav-inner {
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
        width: 100%;
        position: relative;        /* Needed to position the menu absolutely */
    }

    nav .actions {
        display: flex;
        gap: 1rem;
        align-items: center;
        margin-right: 1rem;
        z-index: 100; /* base z-index */
    }

}

@media (max-width: 1100px) {
    .phone-text {
        display: none;
    }
}

@media (max-width: 960px) {
    nav .desktop-menu {
        display: none;
    }
    nav .actions {
        position: absolute;
        top: 50%;
        right: 3rem;
        transform: translateY(-50%);
        display: flex;
        gap: 1rem;
        align-items: center;
    }
    nav .actions button {
        display: none;
    }
    nav .mobile-menu-toggle {
        display: block;
        position: absolute;
        top: 50%;
        right: 1rem;
        transform: translateY(-50%);
        background: none;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
        z-index: 1001;
    }
    nav .mobile-menu {
        display: flex;
        align-items: center;
        flex-direction: column;
        position: absolute;
        gap: 1rem;
        top: 100%;
        left: 0;
        width: 100%;
        background: {{ site.theme.nav.color.mobile_menu.bg | default: site.theme.default.color.mobile_menu.bg }};
        padding: 1rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.10);
        transform: translateY(-10px);
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.2s ease, transform 0.2s ease;
        z-index: 1000;
    }
    nav .mobile-menu.open {
        transform: translateY(0);
        opacity: 1;
        pointer-events: auto;
    }
    nav .mobile-menu ul {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    nav a,
    nav a:visited,
    nav a:focus,
    nav a:active {
        color: {{ site.theme.nav.mobile_menu.color.link | default: site.theme.default.mobile_menu.color.link }};
    }
    nav a:hover {
        color: {{ site.theme.nav.mobile_menu.color.link_hover | default: site.theme.default.mobile_menu.color.link_hover }};
    }
    nav .mobile-quote {
        display: block;
        text-align: center;
    }

}