html {
    scroll-behavior: smooth;
}

body {
    font-family: {{ site.theme.default.font.family }};
    background-color: {{ site.theme.default.color.bg }};
    color: {{ site.theme.colors.default.text }};
}

section {
    padding: 4rem 0;
}

a {
    text-decoration: none;
}

button {
    display: inline-block;
    margin: 0;
}

/* Container */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
  }