<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="shortcut icon" type="image" href="favicon.webp">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>{{ page.title | default: site.title }}</title>
  <script src="assets/shared/shared.js"></script>
  <link rel="stylesheet" href="assets/shared/shared.css">

  {% if page.layout_name %}
    <link rel="stylesheet" href="/assets/layouts/{{ page.layout_name }}/{{ page.layout_name }}.css">
    <script src="/assets/layouts/{{ page.layout_name }}/{{ page.layout_name }}.js"></script>
  {% endif %}

  {%- assign page_base_name = page.name | split: '.' | first -%}
  <link rel="stylesheet" href="/assets/pages/{{ page_base_name }}/{{ page_base_name }}.css">
  <script src="/assets/pages/{{ page_base_name }}/{{ page_base_name }}.js"></script>

  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
  {% include layouts/default.html %}
</body>
</html>
